.mynavi input[type=radio],
.mynavi input[type=checkbox] {
    display: inline-block;
    margin-right: 6px;
}
.mynavi input[type=radio] + label,
.mynavi input[type=checkbox] + label {
    position: relative;
      
    display: inline-block;
    margin-right: 12px;
      
    font-size: 14px;
    line-height: 30px;
      
    cursor: pointer;
}
  
@media (min-width: 1px) {
    .mynavi input[type=radio],
    .mynavi input[type=checkbox] {
        display: none;
        margin: 0;
    }
    .mynavi input[type=radio] + label,
    .mynavi input[type=checkbox] + label {
        padding: 0 0 0 24px;
    }
    .mynavi input[type=radio] + label::before,
    .mynavi input[type=checkbox] + label::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
          
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        width: 18px;
        height: 18px;
        margin-top: -9px;
          
        background: #FFF;
    }
    .mynavi input[type=radio] + label::before {
        border: 2px solid #ccc;
        border-radius: 30px;
    }
    .mynavi input[type=checkbox] + label::before {
        border: 2px solid #ccc;
    }
    .mynavi input[type=radio]:checked + label::after,
    .mynavi input[type=checkbox]:checked + label::after {
        content: "";
        position: absolute;
        top: 50%;
          
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }
    .mynavi input[type=radio]:checked + label::after {
        left: 5px;
          
        width: 8px;
        height: 8px;
        margin-top: -4px;
          
        background: #1f83b2;
        border-radius: 8px;
    }
    .mynavi input[type=checkbox]:checked + label::after {
        left: 3px;
          
        width: 16px;
        height: 8px;
        margin-top: -8px;
          
        border-left: 3px solid #1f83b2;
        border-bottom: 3px solid #1f83b2;
          
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
     
    /* either */
    .mynavi .either {
        position: relative;
         
        display: inline-block;
        width: 120px;
        overflow: hidden;
        border: 2px solid #ccc;
    }
    .mynavi .either input[type=radio] + label {
        position: static;
         
        float: left;
        display: block;
        width: 50%;
        margin-right: 0;
        padding: 0;
        overflow: hidden;
         
        text-align: center;
    }
    .mynavi .either input[type=radio] + label::before {
        content: attr(data-label);
         
        top: 0;
        bottom: 0;
        z-index: 1;
         
        display: block;
        width: 50%;
        height: auto;
        margin-top: 0;
         
        text-align: center;
         
        color: transparent;
        background: transparent;
        border: 0 none;
        border-radius: 0;
    }
    .mynavi .either input[type=radio] + label:last-child::before {
        left: 50%;
        right: 0;
         
    }
    .mynavi .either input[type=radio]:checked + label::before {
        color: #fff;
    }
     
    .mynavi .either input[type=radio] + label::after {
        border-radius: 0;
    }
    .mynavi .either input[type=radio]:first-child + label::after {
        content: none;
    }
    .mynavi .either input[type=radio] + label + input[type=radio] + label::after {
        content: "";
         
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 0;
         
        display: block;
        width: auto;
        height: auto;
        margin: auto;
         
        background: #1f83b2;
        border: 2px solid #fff;
         
        -webkit-transition: all 200ms;
        transition: all 200ms;
    }
     
    .mynavi .either input[type=radio]:checked + label + input[type=radio] + label::after {
        left: 0;
        right: 50%;
    }
    .mynavi .either input[type=radio] + label + input[type=radio]:checked + label::after {
        left: 50%;
        right: 0;
    }
     
}