/* Web Fonts*/
@font-face
{
font-family: mplus-1p-regular;
src: url('http://mplus-fonts.sourceforge.jp/webfonts/mplus-1p-regular.ttf')
     format("truetype");
}

/* common elements */

body {
	height:100%;
	font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    font-size: 1em;
	font-weight:lighter;
	padding: 0;
	margin: 0;
	background-color: #fff;
	color:#666;
    line-height: normal;
}

h1 {
display: block;
text-align: left;
font-size: 2em;
margin: 2.0em 0 0.4em 0;
-webkit-margin-before: 0.67em;
-webkit-margin-after: 0.67em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

h2 {
display: block;
font-size: 1.4em;
margin: 1.8em 0 0.4em 0;
font-weight: bold;
}

h3 {
display: block;
font-size: 1.2em;
margin: 0 0 0 0;
font-weight: bold;
}

h4 {
display: block;
font-size: 1em;
margin: 0 0 0 0;
font-weight: bold;
}

#map h4 {
    text-align: right;
    margin-right:180px;
    position:absolute;
    top:40px;
    left:430px;
}

#chart h4 {
    text-align: right;
}


/* basic components */

#container {
    position:relative;
	width:1000px;
    height:100%;
    margin: 0 auto;
}

h1#title{
	font-weight:400;
    font-size:57px;
	text-align:left;
	padding: 0 0 0 0;
	clear: left;
}

p#title{
	padding: 0 20px;
	font-size:12px;
	line-height:18px;
}

#vis{
	display:block;
	width:800px;
    float:left;
    position:relative;
}

#year {
    position:absolute;
    top:-30px;
    left:0px;
    text-align: center;
    alignment-baseline:middle;
    font-family: Lato;
    font-weidht: 700;
    font-size:140px;
    opacity:0.4;
    pointer-events: none;
    color:#333;
}

#chart {
    position:absolute;
    top:90px;
    left:0;
}

#map {
    position:absolute;
    top:0;
    left:0;
}

#navi{
	display:block;
    float:right;
	width:200px;
    background-color: transparent;
    padding-left:16px;
    border-left:1px dotted #999;
}

#scale {
    float:left;
    width:100%;
}

#userinput {
    float:left;
    width:100%;
}

#scale svg{
    margin-top:40px;
    margin-left:40px;
    width:100%;
    height:400px;
}

#scale svg text{
    font-size:12px;
    text-anchor: left;
    alignment-baseline:middle;
}

#tooltip1, #tooltip2{
	display:none;
    position:absolute;
    top:0;
    left:0;
	width:120px;
	height:auto;
    background-color: rgba(230, 230, 230, 1.0);
    border:1px solid #aaa;
}

#tooltip1 p, #tooltip2 p {
    margin: 0;
    padding: 2px 4px 2px 4px;
    text-align: left;
    vertical-align:bottom;
    font-size:1em;
    line-height: 1em;
}

#map rect, #chart rect{
    stroke-width: 1px;
    stroke: #fff;
}

#map text {
    font-size:14px;
    text-anchor:middle;
    alignment-baseline:middle;
    pointer-events: none;
}

.boader-rect {
    stroke:"black";
    stroke-width: 1px;
    stroke-linecap: "butt";
    stroke-linejoin="miter";
}

#count_map, #count_chart {
    display: "none";
    position:absolute;
    top:50%;
    right:50%;
    width:200px;
    margin-right:-100px;
    text-align: center;
    font-family: Lato;
    font-weidht: 700;
    font-size:170px;
    opacity:0.8;
    pointer-events: none;
    color:#333;
    pinter-events:none;
}

#count_map {
    top:40%;
}
#count_chart {
    top:8%;
}